body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Додано відносне позиціонування для header */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #456; /* Чорний текст */
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid white; /* Білий контур */
    border-radius: 50px; /* Овальна форма */
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #fff;
    color: #000;
}

.auth-buttons {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

.auth-buttons .btn {
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
}

.auth-buttons .btn:hover {
    background-color: #ccc;
}

section {
    padding: 20px;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-video {
    max-width: 100%;
    height: auto;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="email"], form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #444;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

